:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --btn-txt-color:#ffffff;
    --bg-color:#F5F4FA;
    --logo-color:#000000;
    --bg-footer:#2F303A;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

body {
    font-style: normal;
    font-size: 14px;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    background: var(--btn-txt-color);
    
}
/* 
.list{

    padding: 0px;
    margin: 0px;
    list-style: none;
} */

.container {
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.invisible-title{
   display: none;
}

.btn{
    padding: 0;
    border: 0;
}

/* Хедер */
.main-nav{
    display: flex;
    align-items: center;
}

    /* Логотип */
.logo{
    color: var(--accent-color);
    font-family: raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.logo .logo-first{
    color:var(--logo-color);
}

.logo .logo-second{
    color:var(--btn-txt-color);
}

    /* Навигация */
.site-nav{
    display: flex;
    margin-left: 85px;
}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav .link{
    display: block;
    color: var(--title-text-color);
    font-size: 14px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}

.auth-nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-nav .item a:not(:last-child){
    margin-right: 30px;
}

.auth-nav .item img{
    margin-right: 10px;
}

.auth-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus{
    color:var(--accent-color);
}

    /* Герой */
.hero{
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8),rgba(47, 48, 58, 0.8)), url(../img/Header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    /* background-color:var(--primary-text-color); */
}

.hero .text{
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    color:var(--btn-txt-color);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn{
    color: var(--btn-txt-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    cursor: pointer;
  
    min-width: 200px;
    min-height: 50px;
    border: 1px transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
    border: 0;
    color: var(--accent-color); 
    background-color: var(--btn-txt-color);
}
  
    /* Преимущества */
.advantages{
    padding-top: 94px;
    padding-bottom: 94px;
}

    .advant{
    display: flex;
    align-items: center;
}

.advant > .item{
    width: calc((100% - 30px * 3) / 4);
}

.list > .item:not(:last-child){
    margin-right: 30px;
}

.advantages .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.item .item-image {
    background:var(--bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
  }
.item-image-icon  {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }

.item .text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

    /* Чем мы занимаемся */
    .section-works{
    padding-bottom: 94px;
}

.section-works .section-title,
.section-title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.container .work{
    display: flex;
    align-items: center;
}

.work > .item{
    width: calc((100% - 30px * 2) / 3);
}

.work .link{
    text-decoration: none;
}

.link .title{
    color: var(--btn-txt-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    text-transform: uppercase;
    background: var(--primary-text-color);
}

    /* Команда */
.section-team{
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-bg{
    background: var(--bg-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.team{
    display: flex;
}

.team > .item{
    width: calc((100% - 30px * 3) / 4);
    background: var(--btn-txt-color);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.team .item > img{
    margin-bottom: 30px;
}

.list .team-name{
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.list .job{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.social-networks{
    display: flex;
    justify-content: space-evenly;
}

.social-networks .icon a{
    display: block;
    justify-content: space-evenly;
    width: 44px;
    padding-bottom: 24px;
    border-radius: 50%;
}

.social-networks .icon:not(:last-child){
    margin-right: 10px;
}

/* Постоянные клиенты */

.section-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients{
    display: flex;
    justify-content: space-between;
}

.clients-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    height: 90px;
    width: 170px;
}

.clients-item:hover,
.clients-item:focus{
    background: var(--accent-color);
}

    /* Футер */

    /* Адресс */
.main-footer{
    background: var(--bg-footer);
    margin-left: auto;
    margin-right: auto;
}

.footer-part{
    display: flex;
    align-items: baseline;
    padding-top:45px;
    padding-bottom: 28px;
}

.address-part > .logo{
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 8px;
}

.auth .city{
    display: inline-block;
    color: var(--btn-txt-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;

}

.auth .links{
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.auth .meil{
    margin-bottom: 9px;
}
 
.auth .links:hover,
.auth .links:focus{
    color: var(--accent-color);
}

/* Cоциальные сети */
.footer-part .txt{
    display: block;
    margin-bottom: 20px;
    color: var(--btn-txt-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-part .sign{
    color: var(--btn-txt-color);
    background: var(--accent-color);
    font-family: inherit;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.social{
    margin-left: 69px;
}

.mailing{
    margin-left: auto;
}

.mailing{
    display: box;
    margin-left: 464px;
}

.mailing > .btn::after{
    display: inline-flex;
    content:"";
    height: 24px;
    width: 24px;
    padding-top: 13px;
    background-image: url(../img/icon_send.svg);
    margin-left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
}

/* Копирайт */
footer > .copy{
    color: rgba(255, 255, 255, 0.4);
    background: var(--bg-footer);
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 18px;
    padding-bottom: 21px;
    border-top: 1px solid
    rgba(255, 255, 255, 0.1);
}
   

/* Портфолио-проекты */
.section-projects{
    padding-top: 93px;
    padding-bottom: 94px;
    padding-right: 15px;
    padding-left: 15px;
}
.container-project{
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 34px;
    margin-left: auto;
    margin-right: auto;
}

.project{
    display: flex;
    justify-content: center;
}

.project .project-item:not(:last-child){
    margin-right: 8px;
}

.button{
    height: 38px;
    border-radius: 4px;
    border-width: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    font-weight: 500;
    padding: 6px 22px;
}

.project .button{
    color: var(--title-text-color);
    background: var(--bg-color);
}

.project .button:hover,
.project .button:focus{
    color: var(--btn-txt-color);
    background: var(--accent-color);
    border-width: 2px;
}

.portfolio{
    padding-top: 0;
}

.works{
    display: flex;
    flex-wrap: wrap;
}

.works .works-items{
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

.works .works-items:nth-child(3n){
    margin-right: 0;
}

.works .works-items:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.works-items .works-link{
    text-decoration: none;
}

.work-info{
    padding: 20px 24px;
}

.works .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.list .sub{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.list .txt{
    color: var(--btn-txt-color);
    background: var(--accent-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}